<div class="navMenu">
  <!-- <div class="dropdown">
        <div class="">Sort  
        </div>
<span>&#8964;</span>
         &#x2304;&#8963;  
    </div>  -->
  <div class="dropdownMenu">
    <div (click)="dropDownClicked($event)" class="dropbtn">
      <p class="dropTitle">Sort</p>
      <p class="dropArrow" *ngIf="!isExpanded">&#8964;</p>
      <p class="dropArrow" *ngIf="isExpanded">&#8963;</p>
    </div>
    <div *ngIf="isExpanded" class="dropdownContent">
      <ul *ngFor="let element of listElements">
        <li (click)="dropdownItemClicked(element)">{{ element }}</li>
      </ul>
    </div>
    <div class="searchBar">
      <input
        type="text"
        name="search" placeholder="Enter User Name.."
        (input)="onSearchChange($event.target.value)"
      />
    </div>
  </div>
</div>
